<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <interactiveMode>false</interactiveMode>
    <profiles>
        <profile>
            <id>funambol</id>
            <repositories>
                <repository>
                    <id>artifacts</id>
                    <url>http://m2.funambol.org/repositories/artifacts</url>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <url>http://m2.funambol.org/repositories/snapshots</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>artifacts</id>
                    <url>http://m2.funambol.org/repositories/artifacts</url>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <url>http://m2.funambol.org/repositories/snapshots</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>funambol</activeProfile>
    </activeProfiles>
</settings>